
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-bottom: 30px;
    cursor: pointer;
}

.sidenav a:hover {
    color:#f1f1f1;
}

.sidenav .closebtn {
    justify-content: right;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 0;
    cursor: pointer;
}

.column {
    float: left;
    width: 15%;
    height:150%;
    background-color: #d1cfcf;
    margin-right: 20px;
    border-radius: 10px;
    align-items: center;
    
}

#title {
    color: #19063a;
}

#banner {
    background-color: #d1cfcf;
    width: 99%;
    height:180%;
    border-radius: 10px;
}

.row {
    margin-left: 150px;
    height: 100px;
    margin-bottom: 150px;
}

.row :after {
    content: "";
    display: table;
    clear: both;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
    position: relative;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        
    }
}