.main-content {
    margin-left: 150px;
    padding: 20px;
}

@media (max-width: 575px) {

    .main-content{
        margin-left: 0;
    }
}

/* impedir que qualquer elemento ou que o próprio bootstrap ultrapasse o limite da page*/
html,
body,
#root {
    overflow-x: hidden;
    max-width: 100%;
} 
