#title {
    color: #19063a;
}

#banner {
    background-color: #d1cfcf;
    height: 180px;
    border-radius: 10px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    position: relative;
}

